.navbar{
    width: 100%;
    font-size: 20px;
    height: auto;
    gap: 4rem;
    color: rgb(255, 255, 255);
    
}
.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    gap: 1rem;
    list-style: none;
}
.nav-link {
    display: inline-block;
    padding: 10px;
    background-color: #51a7f8;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .nav-link:hover {
    background-color: #999;
  }
  