
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* width: 300px; */
  font-size: 24px;
  height: 10rem;
  font-family:cursive;
  color: #007bff;
  background-color: rgba(59, 50, 50, 0.245);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.903);
  /* padding: 3rem; */
  margin: 3rem;
}

.post-card label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 900;
  height: auto;
  background-color: #113c5764;
  margin-bottom: 10px;

  
}
.post-card input,
.post-card textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #dcdadada;
  margin-top: 5px;
  
  /* height: 20rem; */
  margin-bottom: 5px;
  font-size: 16px;
  resize: none;
}
.post-card button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0080fff4;
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
}

.post-card button[type="submit"]:hover {
  background-color: #007bff;
}


@media only screen and (max-width: 580px) {
  /* CSS styles here will apply only to devices with a maximum width of 480px, such as phones */
  body {
    font-size: 14px;
  }
  .post-card{
    height: 20rem;
    width: 100%;
    margin: 0;
  }

 
}
