
.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
  /* max-width: auto; */
  font-size: 24px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #0f73de;
  background-color: rgba(59, 50, 50, 0.245);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.903);
  
}
.post-form form{
  padding: 4px;
  margin: 4px;

}


.post-form label {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  height: auto;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  padding: 2rem;
  background-color: #113c5764;
  margin-bottom: 10px;

  
}
.post-form input,
.post-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #dcdadada;
  margin-top: 5px;
  
  /* height: 20rem; */
  margin-bottom: 5px;
  font-size: 16px;
  resize: none;
}
.post-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0080fff4;
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
}

.post-form button[type="submit"]:hover {
  background-color: #007bff;
}


@media only screen and (max-width: 580px) {
  /* CSS styles here will apply only to devices with a maximum width of 480px, such as phones */
  body {
    font-size: 14px;
  }
  .post-card{
    height: 50%;
    width: 100%;
    margin: 0;
  }

 
}
